.box {
    background-color: lightgrey;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px
}
.container{
    max-width: 800px;
    margin: auto;
    padding:20px;
    align-content:center;
    flex-wrap: wrap;
}
.greeting{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 30px;
}
.row {
    display: flex;
    flex-wrap:flex;
    margin: 10px;
}
.column {
    flex: wrap;
    padding: 10px;
    
}
body{
    background-color: beige;
    color:black;
    }
h1{
    font-family: Franklin Gothic Medium;
    font-size: 50px;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#img{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
button {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 10px;
        margin: 50px 10px 0px 300px;        
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}
  
a {
    color: white;
    text-decoration:none;
}
  
.nav-links {
    display: flex;
    align-items: center;
}
 
.button-menu-toggle {
    display: none;
}

nav a:hover{
    color:darkviolet
}
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border: none;
      border-radius: 50px;
      padding: 1em;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;      
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }